*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*fonts used*/
@font-face{
    font-family: poppins;
    src:url(./Poppins-ExtraLight.ttf);
}
@font-face{
  font-family: rubik;
  src:url(./Rubik-VariableFont_wght.ttf);
}

/*background div*/
body{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 39.06%, rgba(102, 0, 153, 0.15) 98.44%);
    width: 100%;
   height:625px;
   top: 12145;
   left:-8519px;
}

.music-logo img{
    position: fixed;
    left:0px;
   }
   /*the main form div*/
.form-body{
    width: 45%;
    height: 620px;
    left: 400px;
    background:#0F0B0B;
   position: absolute;
   padding-left: 90px;
  
  }
  /*the header text(login to muzira)*/
.form-header{
    font-weight: 700;
    font-size: 14px;
    font-family: poppins;
    margin-bottom: 24px;
    margin-top: 20px;
}
.form-header  a{
    text-decoration: none;
    color:#D9D9D9;
  }
  /*div for the form input(enter address and enter email)*/
.form-body .form-input {
    font-size: 9px;
    box-sizing: border-box;
    width: 410px;
    height: 60px;
    padding:5px 5px 5px 10px;
    text-align: left;
    border: 1px solid #D9D9D9;
    color:#D9D9D9;
    background: #0F0B0B;
    outline: none;
    border-radius: 5px;
    top: 242px;
    left: 30px;
    font-family: poppins;
    margin-bottom: 20px;
    
}

/*the words inside the inputs(enter email and enter address)*/
::-webkit-input-placeholder {
    color:#FFFFFF;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
  }
   /*the paragraph for forgotten passowrd*/
   .password-text p{
    font-family: poppins;
    font-weight: 600;
    font-size: 12px;
    color: #660099;
    margin-bottom: 20px;
    margin-left: 298px;
  }
  .password-text a{
    text-decoration: none;
  }
   /*the div for the login*/
   .login-text{
    text-align: center;
    justify-content: center;
    background:#660099 ;
    padding: 15px 30px;
    width: 400px;
    height: 64px;
    left: 30px;
    top: 384px;
    border-radius: 8px;
    margin-bottom: 5px;
   }
   .login-text   p{
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    color:#D9D9D9;
}
.login-text  a{
    text-decoration: none;
  }
   /*div that covers the border lines and the or text*/
   .groups{
    display: flex;
  }
   /*div for the border lines*/
   .border{
    width: 160px;
    top:510px;
    border-bottom:1px solid #660099;
margin-bottom: 40px;
margin-left: 20px;
margin-top: 50px;
}
  
    /*div for the or paragraph*/
    .or{
        margin-top: 30px;
        margin-left: 20px;
        font-family: poppins;
        font-weight: 600;
        font-size: 20px;
        color:#FFFFFF;
        
      }
      /*div for the google text*/
    .google-text   {
        width: 350px;
        height: 64px;
        top: 567px;
       margin-left: 50px;
        padding: 20px 40px 20px 40px;
        border: 1px solid #660099;
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
    }
    .google-text    
    p{
      
      text-align: center;
      color:#D9D9D9;
      font-size: 16px;
      font-weight: 600;
      font-family: poppins;
     
    }
    .google-text 
    a{
     text-decoration: none;
    }
     /*div for the google image infront of the goggle text*/
     .images img{
        margin-left: 40px;
        width: 30px;
        height: 30px;
        top:12px;
       }
        /*div for the footer text(dont have an account and sign etc)*/
    .footer{
        display: flex;
        gap:5px;
        margin-top: 80px;
        
      }
       /*div for dnt have account text*/
    .account-text{
        font-weight: 400;
        font-size: 18px;
        font-family: rubik;
        margin-left: 65px;
    }
    .account-text  a{
        text-decoration: none;
        color: #FFFFFF;
      }
       /*div for the sign up text*/
    .sign-up{
        font-weight: 400;
        font-size: 18px;
        font-family: rubik;
    }
    .sign-up a{
        text-decoration: none;
        color: #FFFFFF;
      }


      /*---------------------MEDIA QUERRIES------------------------*/
      @media all and (min-width: 892px) and (max-width: 1120px){
        body{
        background:#0F0B0B;
        width: 100%;
        height: 100vh;
        }
        .music-logo{
          display: none;
        }
        .form-header{
          font-size: 10px;
          margin-left: 50px;
        }
        ::-webkit-input-placeholder{
          font-size: 10px;
        }
        .form-body .form-input {
          width: 290px;
        }
        .form-body{
          width: 40%;
          height: 620px;
          left: 250px;
          background:#0F0B0B;
         position: absolute;
         padding-left: 50px;
        
        }
        .password-text p{
          margin-bottom: 10px;
          margin-left: 180px;
          margin-top: -10px;
      }
      .login-text{
        width: 283px;
        height: 50px;
        left: 4px;
        padding-left: 20px;
        margin-right: 130px;
       }
       .border{
        width: 100px;
        margin-left: 15px;
    }
    .google-text   {
      width: 250px;
      height: 54px;
     margin-left: 20px;
      padding: 10px 20px 10px 20px;
      gap: 14px;
  }
  .google-text p{
    font-size: 14px;
  }
  .or{
    font-size: 15px;
   margin-left: 10px;
   margin-right: 0px;
  }
  .images img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    top:12px;
   }
   .account-text{
    font-weight: 700;
    font-size: 12px;
    margin-left: 40px;
}
.sign-up{
  font-weight: 700;
  font-size: 12px;
 
}
  }  
  @media all and  (max-width: 890px) and (min-width: 601px) {
    body{
      background: #0F0B0B;
      width: 100%;
      height: 100vh;
      }
      .music-logo{
        display: none;
      }
    .form-body .form-input {
      width: 270px;
     
    }
    .password-text p{
      margin-left: 170px;
  }
  .login-text{
    width: 230px;
    height: 50px;
    margin-left: 30px;
   }
   .login-text p{
    margin: auto;
   }
   .border{
    width: 80px;
    margin-left: 30px;
}
.google-text   {
  width: 250px;
  height: 54px;
 margin-left: 10px;
  padding: 10px 20px 10px 20px;
  gap: 14px;
}
.google-text p{
  font-size: 11px;
}
.account-text{
 
  font-size: 15px;
  margin-left: 20px;
}
.sign-up{
font-weight: 700;
font-size: 15px;

}
.form-body{
  width: 40%;
  height: 620px;
  left: 260px;
  background:#0F0B0B;
 position: absolute;
 padding-left: 50px;

}
  }
@media all and  (max-width: 600px) and (min-width: 400px){
  body{
    background: #0F0B0B;
    width: 100%;
    height: 100vh;
    }
  .music-logo img{
   display: none;
   }

  .form-header{
    font-size:9px;
    margin-left: 130px;
  }
  .form-body{
    width: 50%;
    height: 620px;
    left: 50px;
    background:#0F0B0B;
   position: absolute;
   padding-left: 30px;
  
  }
  .form-body .form-input {
    width: 420px;
    
   
  }
  .login-text{

 
    width: 420px;
    height: 54px;
   margin-left: 2px;
    top: 384px;
    border-radius: 8px;
    margin-bottom: 5px;
   }
   .password-text p{
   text-align: justify;
   margin-left: 170px;
   width: 100%;
}
::-webkit-input-placeholder{
  font-size: 12px;
}
.border{
  display: none;
}
.or{
  font-size: 18px;
 margin: auto;
margin-bottom: 20px;
margin-top: 10px;
margin-left: 200px;
}
.google-text   {
  width: 410px;
  height: 54px;
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
 
}
.google-text p{
  font-size: 15px;
  font-weight: 700;
  display: contents;
}
.images img{
  margin-left: 80px;
  width: 25px;
  height: 25px;
  top:12px;
 }
 .footer{
  text-align: center;
 justify-content: center;
 align-items: center;
 margin-right: -120px;
 margin-top: 110px;
 }
 .account-text{
  font-weight: 700;
  font-size: 13px;
  margin-left: 40px;
  
 
 
}
.sign-up{
font-weight: 700;
font-size: 13px;

}
  
}
@media all and  (max-width: 399px) and (min-width: 300px){
  body{
    background:#0F0B0B;
    width: 100%;
    height: 70vh;
    }
    .music-logo{
      display: none;
    }
  .form-body{
    width: 100%;
    height: 620px;
    margin-right: 10px;
    background:#0F0B0B;
   position: absolute;
   padding-left: 5px;
  
  }
  .form-header{
    font-size:8px;
margin-left: 50px;
  }
  
  .form-body .form-input {
    width: 600px;
    height: 54px;
   
  }
  .login-text{
    width: 150px;
    height: 54px;
   margin-left: 25px;
    top: 384px;
    border-radius: 8px;
    margin-bottom: 5px;
   }
   .password-text p{
   text-align: justify;
   margin-left: 170px;
}
::-webkit-input-placeholder{
  font-size: 12px;
}
.border{
  display: none;
}
.or{
  font-size: 18px;
 margin: auto;
margin-bottom: 20px;
margin-top: 10px;
margin-left: 100px;
}
.google-text   {
  width: 120px;
  height: 54px;
  margin: auto;
  padding: 12px 2px 5px 2px;
  gap: 7px;
  margin-left: 40px;
 
}
.google-text p{
  font-size: 13px;
  font-weight: bolder;
  width: 100%;
  margin: auto;
  margin-bottom: -15px;
}
.images img{
  margin-left: 73px;
  width: 24px;
  height: 24px;
  margin-bottom: -15px;
 
 }
 .account-text{
  font-weight: 700;
  font-size: 13px;
  margin-left: 65px;
}
.sign-up{
font-weight: 700;
font-size: 13px;

}
}
@media all and  (max-width: 414px) {
  body{
    background:#0F0B0B;
    height: 70vh;
    width: 100%;
    }
  .form-body{
    width: 90%;
    height: 660px;
    left: 30px;
    background:#0F0B0B;
   position: absolute;
   padding-left: 10px;
  
  }
  .form-header{
    font-size:8px;
   margin-left: 150px;
   width: 100%;
  }
  
  .form-body .form-input {
    width: 420px;
    margin-bottom: 30px;
   
  }
  .password-text{
 text-align: center;
    margin-top: -15px;
    width: 100%;
    margin-left: 5px;
  }
  .login-text{
    width: 411px;
    height: 54px;
   margin-left: 5px;
    top: 384px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-right: 40px;
   }
   .login-text p{
    margin-right: 10px;
   }
   .or{
    margin-left: 200px;
   }
   .google-text{
    margin-left: 10px;
   align-items: center;
   width: 400px;
   padding:0px 5px 12px
   }
   .google-text p{
    font-size: 16px;
   }
   .images{
    margin-right: 0px;
   }
   .footer{
    margin-top: 220px;
    margin-left: 20px;
   }
   .account-text{
   
    text-align: justify;
    font-size: 15px;
   
   }
   .sign-up{
font-size: 15px;
   }
   .music-logo{
    display: none;
  }
}
  
        
      
       
         